/* Brickclay Component Styles - Tailwind source files */
@import './lib/toggle/toggle.css';
@import './lib/checkbox/checkbox.css';
@import './lib/radio/radio.css';
@import './lib/pill/pill.css';
@import './lib/badge/badge.css';
@import './lib/spinner/spinner.css';
@import './lib/ui-button/ui-button.css';
@import './lib/ui-icon-button/ui-icon-button.css';
@import './lib/button-group/button-group.css';
@import './lib/textarea/textarea.css';
@import './lib/grid/components/grid/grid.css';
@import './lib/select/select.css';
@import './lib/input/input.css';
@import './lib/input-chips/input-chips.css';
@import './lib/tabs/tabs.css';
@import './lib/dialog/dialog-container.css';
@import './lib/tooltip/tooltip-directive.css';
@import './lib/avatar-profile/avatar-profile.css';
